@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
  font-family: 'Chelsea Market', cursive;
  background-image: url("img/background-image.png");
}

.navbar-color {
  background-color: rgba(0,0,0,0.7);
}

.seemore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}